* {
    box-sizing: border-box;
}

body {
    margin: 30px;
}

main {
    border: 1px grey solid;
    font-family: "Times New Roman", Times, serif;
}

.title-container{
    text-align: center;
    background-color: #60A0EC;
    font: black;
}

/* realized using div.js-search-results was putting all in container. */

.js-search-results {
    color: #1960B5;
    background-color: #60A0EC;
    border-bottom: 1px solid black;
    list-style-type: none;
    text-decoration: none;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, [col] 100px ) ;
    grid-template-rows: repeat(5, [row] auto  );

}

/* .js-result-actual affects each of the results of the query */

.js-result-actual{
    text-decoration: none;
    display: inline-grid;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
}

.js-result-actual-items{
    /* justify-self: end; */
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 3; 
}