* {box-sizing: border-box;}

body {
    margin: 5px;
    background-color: #104F8E;
}

main {
    font-family: "Times New Roman", Times, serif;
}

.title-container{
    text-align: center;
    font: black;
}

.h1-remake{
    padding-top: 30px;
    padding-bottom: 10px;
    color: antiquewhite;
    font-size: 25px;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    top: 4px;
    padding-right: 12px;
}

.h2-remake{
    color: antiquewhite;
    font-size: 24px;
    display: block;
}

.h3-remake{
    color: antiquewhite;
    font-size: 20px;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

.js-search-results {
    color: antiquewhite;
    list-style-type: none;
    text-decoration: none;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, [col] 1fr ) ;
    grid-template-rows: repeat(3, [row] 1fr );
}

#button-style{
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    background-color: rgb(195, 234, 249);
    border-radius: 5px;
}

.js-result-actual{
    display: grid;
    grid-template-columns: repeat(1, 1fr)

}


.js-result-items{
    justify-self: center;
    max-width: 480px;
}

.next-previous{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-bottom: 24px;
    color: antiquewhite;
}

a.clicker{
    list-style-type: none;
    text-decoration: none;
    color: antiquewhite;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

a.clicker:hover{
    color: antiquewhite;
}

#heading{
display: inline-block;
}

@media only screen and (max-width: 1200px){
    .js-search-results {
        color: antiquewhite;
        list-style-type: none;
        text-decoration: none;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, [col] 1fr );
        grid-template-rows: repeat(1, [row] 1fr );
        width: 100%;
        }


    .js-result-actual{
        width: 100%;
        height: 50%;
    }

    .js-result-items{
        justify-self: center;
    }

}